.App {
  text-align: center;
}

.App-logo {
  height: 100px;
  padding-bottom: 50px;
}

.App-header {
  background-color: #0b4654;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.Card-info {
  margin-top: 50px;
  background-color: lightgray;
}
